[defaults]
inventory = inventories/localhost.yml
roles_path = roles
collections_path = collections
filter_plugins = plugins/filter
stdout_callback = default
result_format = yaml
callback_whitelist = timer, profile_tasks
forks = 10
timeout = 60
retry_files_enabled = false
host_key_checking = false
gathering = smart
fact_caching = memory
fact_caching_timeout = 3600
collections_on_ansible_version_mismatch = ignore

[inventory]
enable_plugins = yaml, script

[privilege_escalation]
become = false

[ssh_connection]
pipelining = true

[persistent_connection]
connect_timeout = 60
command_timeout = 60
