[defaults]
roles_path = roles
collections_paths = collections
retry_files_enabled = false
stdout_callback = yaml
callback_whitelist = profile_tasks
forks = 10
timeout = 60
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .cache/ansible_facts
fact_caching_timeout = 3600
no_log = true

[inventory]
enable_plugins = yaml, script

[privilege_escalation]
become = false

[ssh_connection]
pipelining = true

[persistent_connection]
connect_timeout = 60
command_timeout = 60
