---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: db2u-scc
allowHostDirVolumePlugin: false
allowHostIPC: false
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
allowPrivilegedContainer: true
allowedCapabilities:
  - SYS_RESOURCE
  - IPC_OWNER
  - SYS_NICE
  - CHOWN
  - DAC_OVERRIDE
  - FSETID
  - FOWNER
  - SETGID
  - SETUID
  - SETFCAP
  - SETPCAP
  - SYS_CHROOT
  - KILL
  - AUDIT_WRITE
priority: 10
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: MustRunAs
fsGroup:
  type: RunAsAny
supplementalGroups:
  type: RunAsAny
volumes:
  - configMap
  - downwardAPI
  - emptyDir
  - persistentVolumeClaim
  - projected
  - secret
users:
  - "system:serviceaccount:{{ db2_namespace }}:db2u-operator"
  - "system:serviceaccount:{{ db2_namespace }}:db2u"
  - "system:serviceaccount:{{ db2_namespace }}:default"
